*{
padding: 0;
margin: 10;
}
body {
background-color: black;
color: white;
}
input {
background-color: black;
}
#hd {
text-align: center;
}

#with {
text-align: center;
}
button {
display: block ;
margin: 20px auto ;
}




